---
import Iniciar from "./Iniciar";
import Registrarse from "./Registrarse";
---

<header class="w-full bg-[--principal] absolute z-50">
    <nav class="h-max w-full p-8 flex flex-row justify-between">
        <div
            class="flex flex-col justify-center items-center lg:flex-row lg:gap-5"
        >
            <img
                class="w-16 h-16 hover:cursor-pointer hover:scale-110 transition-transform"
                src="/logo.svg"
                alt="Logo"
            />
            <h1
                class="text-4xl font-bold flex justify-center items-center hover:cursor-pointer"
            >
                Finc<span class="text-violet-700">App</span>
            </h1>
        </div>
        <div class="hidden flex-row items-center gap-8 lg:visible lg:flex">
            <p
                class="hover:cursor-pointer hover:text-violet-700 hover:scale-110 transition-transform"
            >
                Inicio
            </p>
            <p
                class="hover:cursor-pointer hover:text-violet-700 hover:scale-110 transition-transform"
            >
                Acerca
            </p>
            <p
                class="hover:cursor-pointer hover:text-violet-700 hover:scale-110 transition-transform"
            >
                Quien soy?
            </p>
            <p
                class="hover:cursor-pointer hover:text-violet-700 hover:scale-110 transition-transform"
            >
                Contacto
            </p>
        </div>
        <div class="hidden flex-row items-center hover:cursor-pointer lg:flex">
            <Iniciar client:load />
            <Registrarse client:load />
        </div>
        <div class="flex justify-center items-center lg:hidden">
            <img class="w-10 h-10" src="/menu.svg" alt="Menu" />
        </div>
    </nav>
</header>
