---
import "@fontsource-variable/onest";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <div class="container relative h-[100vh]">
            <slot />
        </div>
    </body>
</html>

<style is:global>
    :root {
        --principal: rgb(9, 9, 11);
        --secundario: rgb(109 40 217);
        color-scheme: light dark;
    }

    html {
        font-family: "Onest Variable", sans-serif;
        font-weight: bold;
    }

    body {
        padding: 0;
        margin: 0;
        background-color: rgb(9, 9, 11);
        display: flex;
        flex-direction: column;
    }
</style>
