---
import "@fontsource-variable/onest";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    :root {
        color-scheme: dark light;
        --primario: #26272b;
        --secundario: #6366f1;
        --terciario: #ffffff;
        --cuaternario: #ffffffca;
    }

    @media (prefers-color-scheme: dark) {
        html {
            background-color: var(--primario);
            color: var(--terciario);
        }

        header,
        footer {
            background-color: var(--primario);
        }

        svg {
            fill: var(--terciario);
        }
    }

    @media (prefers-color-scheme: light) {
        html {
            background-color: var(--cuaternario);
            color: var(--primario);
        }

        header,
        footer {
            background-color: var(--cuaternario);
        }

        svg {
            fill: #26272b;
        }
    }

    html {
        font-family: "Onest Variable", sans-serif;
        font-weight: bold;
    }

    body {
        padding: 0;
        margin: 0;
    }
</style>
