---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Fincapp">
    <Header />
    <main class="h-full mt-28 flex flex-col justify-start items-center">
        <h3 class="hidden text-3xl text-violet-700 opacity-80 lg:flex">
            Fincapp
        </h3>
        <h1 class="flex flex-col text-center text-2xl lg:text-6xl mt-8">
            Aumenta la producción <span
                class="flex justify-center text-center text-violet-700"
            >
                Ganadera!
            </span>
        </h1>
        <p
            class="mx-5 mt-16 text-md opacity-50 flex justify-center text-center lg:text-xl lg:w-1/2 lg:mx-0"
        >
            Nuestro software está diseñado para llevar la gestión de tu finca al
            siguiente nivel. Aumenta tu producción, reduce costos y maximiza tus
            ganancias con un seguimiento detallado de cada animal.
        </p>
        <div class="flex-row items-center hover:cursor-pointer lg:hidden">
            <a href="iniciar" class="w-1/2">
                <button
                    class="w-full bg-violet-700 rounded-md p-3 hover:scale-110 transition-transform"
                >
                    Iniciar
                </button>
            </a>
            <a href="registrarse" class="w-max">
                <button
                    class="w-full rounded-md p-3 hover:text-violet-700 hover:scale-110 transition-transform"
                >
                    Registrarse
                </button>
            </a>
        </div>
    </main>
</Layout>
