---
import Hamburguesa from "./Hamburguesa";
import Logo from "./Logo";
---

<header class="w-full dark:bg-[--primario] fixed top-0 left-0 z-50">
    <nav class="w-full p-5 flex flex-row justify-between items-center">
        <div
            class="w-full flex flex-row justify-between items-center sm:w-auto sm:gap-5"
        >
            <Logo client:load />

            <h1
                class="text-2xl xl:text-4xl font-bold flex justify-center items-center hover:cursor-pointer hover:scale-110 transition-transform"
            >
                <a href="#">
                    Finc<span class="text-[--secundario]">App</span>
                </a>
            </h1>

            <Hamburguesa client:load />
        </div>

        <div class="hidden flex-row items-center gap-8 sm:visible sm:flex">
            <a href="#">
                <p
                    class="text-lg xl:text-xl hover:cursor-pointer hover:text-[--secundario] hover:scale-110 transition-transform"
                >
                    Inicio
                </p>
            </a>
            <a href="#acerca">
                <p
                    class="text-lg xl:text-xl hover:cursor-pointer hover:text-[var(--secundario)] hover:scale-110 transition-transform"
                >
                    Acerca
                </p>
            </a>
            <a href="#quien-soy?">
                <p
                    class="text-lg xl:text-xl hover:cursor-pointer hover:text-[var(--secundario)] hover:scale-110 transition-transform"
                >
                    Quien soy?
                </p>
            </a>
            <a href="#contacto">
                <p
                    class="text-lg xl:text-xl hover:cursor-pointer hover:text-[--var(--secundario)] hover:scale-110 transition-transform"
                >
                    Contacto
                </p>
            </a>
        </div>
        <div class="hidden w-64 flex-row hover:cursor-pointer lg:flex">
            <a href="iniciar" class="w-1/2">
                <button
                    class="w-full bg-[var(--secundario)] rounded-md p-3 hover:scale-110 transition-transform"
                >
                    Iniciar
                </button>
            </a>
            <a href="registrarse" class="w-1/2">
                <button
                    class="w-full rounded-md p-3 hover:text-[var(--secundario)] hover:scale-110 transition-transform"
                >
                    Registrarse
                </button>
            </a>
        </div>
    </nav>
</header>
