body {
  background: url(./../../Assets/Fondo.png) center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#div-iniciar {
  display: flex;
  margin: 40% auto;
  justify-content: center;
  text-align: center;
  background-color: rgb(237, 237, 237);
  width: 20%;
  height: 4%;
  border-radius: 20px;
}

.log {
  border-radius: 20px;
  width: 100%;
  border: none;
  font-size: 50px;
}

.log:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
