body {
  background: url(./../../Assets/Fondo.png) center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#div-iniciar {
  display: flex;
  margin: 40% auto;
  justify-content: center;
  text-align: center;
  border: none;
  width: 20%;
  height: 4%;
  border-radius: 20px;
}

.log {
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 50px;
  background-color: #231d1d;
  color: #d24c4c;
}

.log:hover {
  background-color: #d24c4c;
  color: #231d1d;
  cursor: pointer;
}
